<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <language feature="pt-BR" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    
    <unitTestProvider name="xUnit" />
    
  </specFlow>
  <appSettings>
    <add key="DefaultUrl" value="http://contoso.papini.com" />
    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>
</configuration>